*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/build
*.o
app/.cxx/*
/app/.cxx/
#built application files
*.apk
*.ap_
*.ninja_deps
**/*.aab
app-release.rar
app/release/app-release.*
app-release.aab
app/*/app-release.aab
*.jks
*.keystore
*.pem
google-services.json
app/google-services.json
app/src/**/google-services.json
.env
*.properties
android_keys
android-keys
new-release-key.jks
fabric.properties

# Ignore IntelliJ IDEA / Android Studio specific files
.idea/

# Ignore local build files
.gradle/
build/
app/build/
captures/

# Ignore OS-specific files
Thumbs.db
.directory
/.externalNativeBuild/
*.log
log.txt